body {
  background-color: #fff;
}
.studentTitle {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 0;
}
.studentName {
  color: #00b2ff;
  display: inline-block;
}
.signOutBtn {
  font-size: 10px;
  padding: 2px 15px;
  background-color: #fff;
  border: 1px solid #00b2ff;
  margin: 0 5px;
  border-radius: 10px;
  outline: none;
}
.signOutBtn:hover {
  color: #fff;
  border: 1px solid #ff0000;
  background-color: #ff0000;
  transition: 0.3s;
}
.header {
  display: flex;
  align-items: center;
  margin-left: 30px;
  height: 80px;
}
.studentInfo {
  margin: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
ol {
  width: 25%;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  padding: 30px;
  list-style: none;
}
ol li {
  border: 1px solid #00b2ff;
  margin: 10px auto;
  width: 100%;
}

.subTitle {
  border-bottom: 1px solid #00b2ff;
  width: 100%;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 100;
}
.listCounter {
  display: inline-block;
  padding: 10px 10px;
  margin: 0;
  background-color: #00b2ff;
  color: #fff;
}
.number {
  text-align: center;
  display: inline-block;
  margin: 0;
  padding-left: 30%;
}

.linkHomework {
  font-size: 15px;
  text-decoration: none;
  color: #000;
  border: 1px solid #00b2ff;
  padding: 8px 10px;
  border-radius: 5px;
}
.linkHomework:hover {
  background-color: #00b2ff;
  color: #fff;
  transition: 0.3s;
}
.links {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  padding: 0 30px;
  box-sizing: border-box;
}
.logo {
  height: 35px;
}
.infoTitle {
  margin-left: 30px;
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 0;
}
.infoBlocks {
  margin: 0 30px;
}
.infoBlock {
  color: #000;
  display: inline-block;
  text-align: center;
  width: 20%;
  margin: 0;
  padding: 20px 10px;
  box-sizing: border-box;
  text-decoration: none;
}
.infoBlock i {
  margin-right: 10px;
}
.infoBlock:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.dropState{
  display: inline-block;
  text-align: center;
  font-size: 12px;
  box-sizing: border-box;
  height: 22px;
  width: 130px;
  padding: 3px;
  margin-left: 5px;
  border-radius: 20px;
}
.dropState i{
  margin-right: 5px;
}
.dropTrue{
  color: #ff0000;
  border: 0.5px solid #ff0000;
}
.dropFalse{
  color: #00ff00;
  border: 0.5px solid #00ff00;
}
.studentFunctions{
  display: block;
  margin-left: 25px;
}
@media only screen and (max-width: 1024px) {
  .studentInfo {
    display: block;
  }
  ol {
    box-sizing: border-box;
    width: 100%;
  }
  .infoBlock {
    width: 100%;
  }
}
